

body {
  direction: rtl;
  font-family: "Vazir";
  text-align : initial ;
}

.app_container {
  margin-top: 100px;
}
.navbar {
  width: 100%;
  height: 99px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  padding: 0 2.78%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(166, 160, 160, 0.25);
}

.navbar .inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94.44%;
}

.navbar .inner-nav ul {
  display: inline-block;
  height: 100%;
  margin: 0;
  list-style: none;
  padding-right: 2rem;
}

.navbar .inner-nav ul li {
  display: inline-block;
  margin: 0 1rem;
  color : #717478;
  cursor: pointer;
}

.navbar .inner-nav .left-group,
.right-group {
  display: flex;
  align-items: center;
}

.navbar .inner-nav .left-group .submit-property {
  background: #d52431;
  border-radius: 15px;
  color: white;
  padding: 1rem 1.55rem;
  font-size: 16px;
}

.navbar .inner-nav .left-group .login {
  color: #208f88;
  padding: 1rem;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .inner-nav .left-group .login svg {
  margin: 7px;
}
